/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-img: url(../images/cover-image-light.png);
  --accent-color: #FF8DCB;
  --header-title-color:#FFC2E6;
  --bg-color:#FFF1F7;
  --decoration-color:#353430;
  --decoration-rgb-color: 53, 52, 48;
  --subtitle-color:#353430;
  --contrast-text-color:#353430;
  --contrast-bg-color:#FF8DCB;
  --text-color:#353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-img: url(../images/cover-image-light.png);
    --accent-color: #FF8DCB;
    --header-title-color:#FFC2E6;
    --bg-color:#FFF1F7;
    --decoration-color:#353430;
    --decoration-rgb-color: 53, 52, 48;
    --subtitle-color:#353430;
    --contrast-text-color:#353430;
    --contrast-bg-color:#FF8DCB;
    --text-color:#353430;
  }
  .theme-auto .header__rec-abs {
    display: none;
  }

}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-light .header__rec-abs {
  display: none;
}



