/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
    background-image: var(--bg-img);
    background-color: var(--bg-color);
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 40px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-inline: 10px;
    margin-inline: auto;
    min-block-size: 668px;
}

.header, .footer {
    padding-block: 10px;
    display: grid;
    grid-template-columns: 100%;
    min-block-size: 668px;
    block-size: 100vh;
    align-items: center;
    justify-items: center;
}

.header {
    grid-template-rows: 1fr auto 1fr;
}

.header__theme-menu {
    justify-self: end;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__theme-menu-button {
    display: flex;
    color: var(--decoration-color);
    font-family: 'IBM Plex mono', monospace;
    block-size: 26px;
    padding: 2px 13px;
    inline-size: 70px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.header__theme-menu-button_active {
    border: 1px solid var(--decoration-color);
}

.header__theme-menu-button:hover {
    border: 1px solid rgba(var(--decoration-rgb-color), 0.4);
}

.header__title {
    justify-self: left;
    word-spacing: 100vw;
}

.title-visual {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-weight: 700;
    color: var(--header-title-color);
    line-height: 95.7px;
    text-shadow: 4px 4px 0 var(--accent-color);
}

.header__rec-abs {
    position: absolute;
    top: 9px;
    right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    inline-size: 52px;
    block-size: 26px;
    line-height: 25px;
    color: var(--decoration-color);
    text-transform: uppercase;
}

.header__rec-abs::after {
    content: '';
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: var(--decoration-color);
    box-shadow: 0 0 4px 2px #FF0070;
}

.header__paragraph {
    justify-self: end;
    max-inline-size: 364px;
}

.title-decor {
    color: var(--contrast-text-color);
    background-color: var(--contrast-bg-color);
    font-weight: 700;
}

.decorated-zone {
    position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 1px solid var(--decoration-color);
}

.decorated-zone::before {
    top: 10px;
    right: 0;
    border-left: none;
    border-bottom: none;
}

.decorated-zone::after {
    bottom: 10px;
    left: 0;
    border-right: none;
    border-top: none;
}

.main, .main__section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.main__section-subtitle {
    margin-block: 19.8px 10px;
}

.main__section-subtitle-one-block {
    margin-block-start: 20px;
}

.main__section-picture-item {
    margin-block-start: 10px;
}

.main__section-title {
    color: var(--subtitle-color);
    font-weight: 700;
}

.main__section-link {
    text-decoration: none;
    display: inline;
    text-shadow: var(--text-shadow-link);
}

.main__section-link:hover {
    border-block-end: 1px solid var(--text-color);
}

button:focus {
    border-block-end: 1px solid var(--decoration-color);
}

a:focus {
    outline: 1px solid var(--text-color);
}

.subtitle-colourless {
    font-weight: initial;
}

.main__section-picture-item {
    margin-block-start: 10px;
}

.picture {
    display: block;
    inline-size: 100%;
}

.footer {
    grid-template-rows: 1fr;
}

.footer__title {
    text-shadow: 2px 2px 0 var(--accent-color);
    padding-top: 3px;
}

@media screen and (min-width: 768px) {
    .header,
    .footer {
        padding-block: 20px;
    }
    .header__title {
        word-spacing: normal;
        margin-inline-start: -20px;
        font-size:clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
    .page {
        padding-inline: 20px;
        gap: 60px;
    }
    .header__rec-abs {
        top: 20px;
    }
    .decorated-zone::before {
        top: 20px;
    }
    .decorated-zone::after {
        bottom: 20px;
    }
    .main {
        gap:80px;
    }
    .section-why,
    .section-what,
    .section-how {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        gap: 20px;
    }
    .main__section-list .main__section-item:first-child .main__section-subtitle {
        margin-block-start: 0;
    }
    .main__section-list .main__section-item:first-child .main__section-subtitle-one-block {
        margin-block-start: 0;
    }
    .main__section-list_what {
        grid-column: 1/3;
    }
    .gallery__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-auto-flow: row;
        grid-gap: 20px;
    }

    .main__section-picture-item {
        display: flex; /* Для центрирования изображения внутри */
        align-items: center; /* Центрирует изображение по вертикали */
        justify-content: center;
        max-block-size:568px;
        min-block-size: 192px;
    }

    .gallery__item.picture {
        /*inline-size: 100%;*/
        inline-size: 100%;
        object-fit: cover;
    }

    .gallery__list > :nth-child(1),
    .gallery__list > :nth-child(5) {
        grid-column: span 2;
        grid-row: span 1;
    }
    .gallery__list > :nth-child(2),
    .gallery__list > :nth-child(3) {
        grid-column: span 1;
        grid-row: span 2;
    }
    .gallery__list > :nth-child(4) {
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media screen and (min-width: 1024px) {
    .header__theme-menu {
        justify-self: center;
        align-self: flex-start;
    }
    .header__theme-menu-list {
        flex-direction: row;
    }
    .header__paragraph {
        min-inline-size: 491px;
        padding-top: 16px;
    }
    .section-why,
    .section-how {
        gap: 10px;
    }
    .section-what {
        gap: 20px;
    }

    .main__section-list_what {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        column-gap: 20px;
    }
    .main__section-list_what .main__section-subtitle {
      margin-top: 0;
    }
}

